.formControl.error textarea, .formControl.error input {
    border: 2px solid red;
}

.formControl.error span {
    display: block;
    color: red;
    margin: 10px 0;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}
