.nav {
    grid-area: nav;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
}

.item a{
    color: #cccccc;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
